.notification {
  color: green;
  background: lightgrey;
  font-size: 20;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: bottom;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: bottom;
}